/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body{
 margin: 0px;
}

#gallery {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
} 

figure {
  display: table;
}

figcaption {
	display: table-caption;
	caption-side: bottom;
}


.figure img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
}
.figure .details {
  visibility: hidden;
}

img:hover + .figure {
  visibility: visible;
}