
div {
  display: flex;
  flex-wrap: wrap;
} 

figcaption{
	display:table-caption;
	caption-side:bottom
}

figure {
  display:table;
}


img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}